@font-face {
    font-family : 'fake font';
    src         : url('https://dummy.dummy/fake_otf_font.eot');
    src         : url('http://dummy.dummy/fake_eot_font.eot') format('embedded-opentype'), url('http://dummy.dummy/fake_woff_font.woff') format('woff'), url('http://dummy.dummy/fake_woff2_font.woff2') format('woff2'), url('http://dummy.dummy/fake_ttf_font.ttf') format('truetype'), url('http://dummy.dummy/fake_svg_font.svg') format('svg');
}

.by-class {
    height : 100px;
}

#by-id {
    width : 100px;
}